h5py==2.5.0
ipython==3.1.0
matplotlib==1.4.3
NearPy==0.2.2
numpy==1.10.1
Pillow==3.0.0
python-dateutil==2.4.2
pyyaml>=4.2b1
scikit-image==0.11.3
scikit-learn==0.16.1
scipy==0.16.1
six==1.10.0
trimesh=2.24.9
triangle
